:root {
    --cor-primaria: #070706;
    --cor-secundaria: #5C4F45;
    --cor-texto: #fff;
    --nota1: #FE9A37;
    --nota2: #CBDB57;
    --nota3: #9585BA;
    --nota4: #F96A4B;
    --nota5: #DEA44D;
    --nota6: #9E5C32;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

body {
    width: 100vw;
    background-color: var(--cor-primaria);
    color: var(--cor-primaria);
    padding: 1rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    color: var(--cor-texto);
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.2rem;
}

button {
    /* apresentação */
    display: flex;
    justify-content: center;
    align-items: center;
    /* dimensões */
    height: 2.2rem;
    width: 2.2rem;
    /* comportamento */
    border-radius: 8px;
    color: var(--cor-texto);
    background: #333;
    border: none;
    cursor: pointer;
}

input {
    /* apresentação */
    display: none;
    justify-content: center;
    align-items: center;
    /* dimensões */
    width: 100%;
    height: 2.2rem;
    padding: 1rem;
    /* comportamento */
    border-radius: 8px;
    border: none;
    /* design */
    color: var(--cor-secundaria);
    background: #333;
}

div {
    flex: 1 1 calc(50% - 1rem);
    margin: 0.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.nota {
    word-break: break-all;
    overflow: hidden;
    height: 6.3rem;
    line-height: 1.6rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.btn-pesquisa-aberta {
    background: #333 url(./svg/x.svg) no-repeat center/60%;
}

.btn-pesquisa-fechada {
    background: #333 url(./svg/search.svg) no-repeat center/60%;
}

.btn-remover {
    background: transparent url(./svg/trash-2.svg) no-repeat center/60%;
}

.btn-fechar {
    background: transparent url(./svg/x.svg) no-repeat center/60%;
}

#add-button {
    border-radius: 50%;
    position: fixed;
    right: 1.5rem;
    bottom: 4rem;
}

#pesquisar-input {
    align-self: flex-end;
}

label {
    width: 100%;
    color: var(--cor-texto);
    font-size: 1rem;
    text-indent: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #333;
}

#cor {
    width: 40%;
    margin-left: 1.5rem;
    border: none;
    color: var(--cor-texto);
    font-size: 1rem;
    background: #333;
}

#add-input {
    width: 100%;
    border-radius: 8px;
    border: none;
    color: var(--cor-secundaria);
    background: #333;
    padding: 1rem;
}

.add-container {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 1rem;
    bottom: 1.2rem;
    width: calc(100% - 2rem);
    background-color: #313030;
    padding-top: 1rem;
}

.add-container nav {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
}

.add-container nav button {
    flex: 1;
    margin: 0 0.2rem;
}

.open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: -0.5rem;
    left: -0.5rem;
    border-radius: 0;
}

.open .nota {
    align-self: flex-start;
    justify-content: flex-start;
    background-color: transparent;
    padding-top: 3rem;
}

.d-block {
    display: flex;
}

.d-none {
    display: none;
}

.navation {
    display: none;
}

.open .navation {
    position: absolute;
    top: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    background-color: var(--cor-primaria);
    ;
}

.open .navation div {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    height: 3rem;
    width: calc(100% - 4.4rem);
}

.open .navation div button {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.1rem;
    border-radius: 50%;
    position: relative;
}


/* cores do container */

.roxo {
    background-color: var(--nota3);
}

.laranja {
    background-color: var(--nota1);
}

.amarelo {
    background-color: var(--nota5);
}

.marrom {
    background-color: var(--nota6);
}

.vermelho {
    background-color: var(--nota4);
}

.verde {
    background-color: var(--nota2);
}

.btn-roxo {
    background-color: var(--nota3);
}

.btn-laranja {
    background-color: var(--nota1);
}

.btn-amarelo {
    background-color: var(--nota5);
}

.btn-marrom {
    background-color: var(--nota6);
}

.btn-vermelho {
    background-color: var(--nota4);
}

.btn-verde {
    background-color: var(--nota2);
}